@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
}
* {
    list-style: none;
}
body > * {
    min-width: 300px;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefeed;
    height: 80px;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    transition: all 0.3s;
    word-wrap: normal;
    width: 100%;
    min-width: 300px;
}
.logo {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 30px;
    font-weight: bold;
}
.logo a {
    color: black;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.nav > * {
    padding: 10px;
    font-size: 18px;
}
.nav a:not(.seledted) {
    color: grey;
}
.nav > * :hover {
    font-weight: bold;
}

.seledted {
    color: black;
    font-weight: bold;
}
.bottom {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    height: auto;
    padding: 0;
    height: 65px;

    background: #f0f0f0;
    overflow: hidden;
}
.bottom .sel_area {
    padding: 0 15px 6px;
    position: static;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.bottom .sel_area .sel_member {
    position: relative;
    background: none;
    border: 0;
    width: 500px;
}
.bottom .sel_area .sel_member select {
    background: #fff url(https://korean.visitkorea.or.kr/resources/images/main/ico_select5.png) 100% 50%/30px 8px
        no-repeat;
    padding: 0 0 0 15px;
    height: 35px;
    width: calc(100% - 65px);
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #bbb;
    color: #666;
    vertical-align: top;
}
/* 화살표 사라지기 */
select {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* 일반적인 스타일링을 위한 appearance 속성 */
    background-image: none; /* 배경 이미지 제거 */
    padding-right: 1em; /* 오른쪽 여백을 추가하여 텍스트와 겹치지 않게 함 */
    background-color: transparent; /* 배경색을 투명하게 설정 */
}
/* .bottom .sel_area .sel_member #relation2 {
margin-bottom: 10px;
} */
.sel_area .sel_member button {
    width: 50px;
    font-size: 14px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #777676;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    /* position: absolute; */
    right: 0;
    top: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    padding: 54px 142px 80px;
    position: relative;
}
.footer2 {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footLogo {
    font-size: 20px;
    font-family: 'intelone-mono-font-family-regular';
    display: flex;
}
.team {
    font-family: 'intelone-mono-font-family-regular';
    font-size: 14px;
}
.img1,
.img3,
.img2 {
    width: 115px;
    height: 30px;
    padding-left: 20px;
}
.footer .logo_list {
    flex-direction: row;
    display: flex;
    padding-left: 6px;
}

.logo_list > a {
    cursor: pointer;
}
button {
    border-radius: 10px;
    border: 1px solid gray;
}
.btn_top_move {
    position: fixed;
    width: 34px;
    height: 34px;
    right: 15px;
    bottom: 61px;
    background: #fff url(../img/icon/arrow-up-solid.svg) 50% 50%/14px 15px no-repeat;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 4px 0px rgba(51, 51, 51);
    display: none;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
        text-align: center;
    }
    .logo {
        width: 100%;
    }
    .nav {
        width: 100%;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 1080px) {
    .footer2 {
        flex-direction: column;
        display: flex;
    }
    .logo_list,
    .sel_area {
        justify-content: flex-end;
    }
}
