@font-face {
    font-family: 'NanumBarunGothic';

    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@media (max-width: 768px) {
    body {
        overflow: scroll;
    }
    header {
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
        text-align: center;
    }
    .logo {
        width: 100%;
        justify-content: center;
    }
    .nav {
        width: 100%;
        justify-content: space-evenly;
    }
    main {
        top: 100px;
        flex-direction: column;
        align-items: center;
    }
    .left-section {
        z-index: 8;
    }
    .right-section {
        z-index: 9;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    font-family: 'NanumBarunGothic';
}
body {
    background-color: #001d49;
    overflow: auto;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefeed;
    height: 60px;
    text-align: center;
    padding: 10px;
    min-width: 400px;
    z-index: 10;
    transition: all 0.3s;
}
.logo {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 30px;
    font-weight: bold;
}
.logo a {
    color: black;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.nav > * {
    padding: 10px;
}
.nav a {
    text-decoration: none;
    color: black;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 60px;
    width: 100vw;
}
.upper-section {
    display: flex;
    width: 100%;
}
.left-section {
    box-sizing: content-box;
    width: 45%;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 60px;
    position: relative;
    z-index: 8;
}
.mainleft-wrap {
    width: 95%;
    height: 100%;
    position: relative;
}
.main-text {
    position: absolute;
    color: white;
    text-align: left;
    top: 40%;
}
.main-text p {
    font-size: 30px;
    font-weight: bold;
    text-decoration-line: underline;
}
.right-section {
    width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: scroll;
    top: 60px;
    z-index: 9;
}
.main-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    display: none;
}

.main-slide.active {
    display: block;
}
.map-container {
    position: relative;
    top: 100px;
}
.map {
    height: 400px;
    width: 100%;
    display: flex;
}
.map-left {
    width: 70%;
    box-sizing: border-box;
    background-color: coral;
}
.map-right {
    width: 30%;
    box-sizing: border-box;
    background-color: #001d49;
}
.map-left p {
    font-size: 28px;
    font-weight: bold;
    text-decoration-line: underline;
    color: white;
}

h2 {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration-line: underline;
    margin-top: 20;
}
.theme-container {
    background: #001d49;
    width: 100%;
    position: relative;
    top: 200px;
}
.theme-wrap {
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.theme-slide-group {
    display: flex;
    width: 95%;
    overflow-x: auto;
}

.theme-slide {
    background: #001d49;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
}
.theme-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.cardtext {
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
