@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'NanumBarunGothic';

    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    font-family: 'NanumBarunGothic';
}
body {
    background-color: #001d49;
    overflow: auto;
    min-width: 300px;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefeed;
    height: 60px;
    text-align: center;
    padding: 10px;
    min-width: 400px;
    z-index: 10;
    transition: all 0.3s;
}
.logo {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 30px;
    font-weight: bold;
}
.logo a {
    color: black;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.nav > * {
    padding: 10px;
}
.nav a {
    text-decoration: none;
    color: black;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 60px;
    width: 100%;
}
.mainslide-container {
    display: flex;
    width: 100%;
    height: 450px;
    position: relative;
}
.left-section {
    box-sizing: content-box;
    width: 50%;
    height: 100%;
    top: 60px;
    /* position: absolute; */
    /* left: auto; */
}
.mainleft-wrap {
    width: 95%;
    height: 100%;
    position: relative;
}
.main-textbox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.center {
    display: flex;
}
.main-text {
    color: white;
    top: 40%;
    left: 100px;
    display: none;
}
.main-text.active {
    display: block;
}
.main-title {
    display: inline-block;
    padding: 0px 15px;
    height: 30px;
    line-height: 2;
    background: rgb(0, 0, 0);
    border-radius: 15px 15px 15px 0;
    color: white;
    position: relative;
    bottom: 70px;
    font-size: 16px;
    left: 0px;
}
.text-box {
    position: relative;
    bottom: 65px;
}
.text {
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    text-align: left;
}
.page-move {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    color: white;
    position: absolute;
    justify-content: center;
    top: 100px;
    cursor: pointer;
}
.right-section {
    width: 50%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

    overflow: hidden;
}
.main-slide {
    width: 100%;
    height: 80%;

    display: none;
    box-shadow: 5px 5px 5px #282828;
}
.main-slide > img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.main-slide.active {
    display: block;
}
.map-section {
    position: relative;
    top: 150px;
    width: 100%;
    height: 300px;
}
.map-container {
    width: 100%;
    height: 500px;
    background-color: #fefeed;
}
.map-text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    position: relative;
    top: 100px;
}
.theme-text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    position: relative;
    top: 191px;
}
.theme-container {
    width: 100%;
    position: relative;
    top: 200px;
}
.theme-wrap {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.theme-slide-group {
    display: flex;
    width: 95%;
    overflow-x: auto;
}

.theme-slide {
    background: #001d49;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}
.theme-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
}
.card-text {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    line-height: 1.5;
}
.button-box {
    z-index: 2000;
    position: absolute;
    display: flex;
    width: 100%;
    top: 400px;
    cursor: pointer;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: white;
}
#prev,
#next {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}
#prev {
    left: 48%;
}

#next {
    left: 52%;
}
@media screen and (max-width: 1920px) {
    .desktop-text {
        display: block;
    }
    .mobile-text {
        display: none;
    }
}
@media screen and (max-width: 1080px) {
    .desktop-text {
        display: block;
    }
    .mobile-text {
        display: none;
    }
    .footer2 {
        flex-direction: column;
        display: flex;
    }
    .logo_list,
    .sel_area {
        justify-content: flex-end;
    }
    .button-box {
        z-index: 2000;
        position: absolute;
        display: flex;
        width: 100%;
        top: 430px;
    }
}
@media (max-width: 948px) {
    .theme-container {
        width: 100%;
        position: relative;
        top: 200px;
    }
    .theme-wrap {
        position: relative;
        height: 400px;
        width: 100%;
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
    .theme-slide-group {
        display: flex;
        width: 95%;
        overflow-x: auto;
    }

    .theme-slide {
        background: #001d49;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 0 auto;
        cursor: pointer;
    }
    .theme-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        box-shadow: 5px 5px 5px black;
    }
    .card-text {
        text-align: center;
        font-size: 14px;
        color: white;
        margin-top: 10px;
        line-height: 1.5;
    }
    .button-box {
        z-index: 2000;
        position: absolute;
        display: flex;
        width: 100%;
        top: 400px;
        cursor: pointer;
    }
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 0, 'opsz' 24;
        color: white;
    }
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
        text-align: center;
    }
    body {
        overflow: scroll;
    }
    .logo {
        width: 100%;
    }
    .nav {
        width: 100%;
        justify-content: space-evenly;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    .mainslide-container {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .text {
        font-size: 12px;
    }
    .left-section {
        width: 100%;
        position: absolute;
        height: 250px;
        justify-content: center;
        display: flex;
    }
    .center {
        top: -100px;
        position: relative;
    }
    .right-section {
        width: 100%;
        position: absolute;
        top: 200px;
        height: 300px;
        left: 1px;
        box-shadow: none;
        justify-content: center;
        display: flex;
        /* box-shadow: 4px 4px #4b4b4b; */
    }
    .main-slide {
        top: 10px;
        width: 80%;
        height: 223px;
        box-shadow: 5px 5px 5px #282828;
    }
    .page-move {
        text-align: center;
    }
    .map-section {
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .map-text {
        position: relative;
        top: 0px;
        font-size: 20px;
    }
    .map-wrap {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    .map-contant {
        width: 70%;
        height: 100%;
        position: absolute;
        background-color: #fefeed;
        margin: auto;
        left: 5%;
        right: 2.5%;
        justify-content: center;
        display: flex;
        bottom: 120px;
    }
    .theme-text {
        top: 50px;
        position: relative;
        font-size: 20px;
    }
    .theme-container {
        width: 100%;
        height: 300px;
        position: relative;
        top: 30px;
    }
    .theme-wrap {
        width: 100%;
        justify-content: center;
    }
    .theme-slide-group {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .theme-slide {
        width: 200px;
        height: 200px;
        position: relative;
    }
    .card-text {
    }
    .desktop-text {
        display: none;
    }
    .mobile-text {
        display: block;
        font-size: 12px;
        display: flex;
        justify-content: center;
        -webkit-line-clamp: 2;
    }
    .button-box {
        z-index: 2000;
        position: absolute;
        display: flex;
        width: 100%;
        top: 300px;
    }
    .footer {
        width: 100%;
    }
}
@media (min-width: 300px) and (max-width: 600px) {
    theme-container {
        width: 100%;
        height: 100%;
    }
    .theme-wrap {
        display: flex;
        width: 100%;
    }
    #theme-slide-group1 {
        display: flex;
        width: 100%;
    }
    #theme-slide-group2 {
        display: flex;
        width: 100%;
    }
    .theme-slide {
        width: 100%%;
        margin-right: 10px;
    }
    .theme-slide img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 0;
    }

    .desktop-text {
        display: none;
    }
    .mobile-text {
        display: block;
        font-size: 12px;
        display: flex;
        justify-content: center;
        -webkit-line-clamp: 2;
    }
    .button-box {
        z-index: 2000;
        position: absolute;
        display: none;
        width: 100%;
        top: 300px;
    }

    /* .theme-container {
        width: 100%;
        height: 100%;
    }

    .theme-wrap {
        display: flex;
        width: 100%;
    }
    .theme-slide-group {
        display: flex;
        width: 100%;
    }
    #theme-slide-group2 {
    }
    .theme-slide {
        width: 100%%;
        margin-right: 10px;
    }

    .theme-slide img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 0;
    }
    .mobile-text {
        display: block;
        font-size: 12px;
        display: flex;
        justify-content: center;
        -webkit-line-clamp: 2;
    }
    .button-box {
        z-index: 2000;
        position: absolute;
        display: none;
        width: 100%;
        top: 300px;
    } */
}
/* 300~480 미디어쿼리 */
/* @media (min-width: 300px) and (max-width: 480px) {
    .mainslide-container {
        width: 100%;
        position: relative;
        height: 450px;
    }
    .right-section {
        width: 100%;
    }
    .main-slide {
        width: 80%;
    }
    .theme-container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        display: flex;
    }

    .theme-wrap {
        display: flex;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
    }
    .theme-slide-group {
        position: relative;
        flex: 0 0 auto;
        width: 100%;
    }

    .theme-slide {
        flex: 0 0 auto;
        width: 33.3%;
        scroll-snap-align: center;
        margin-right: 10px;
    }

    .theme-slide img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 0;
    }
    .mobile-text {
        display: block;
        font-size: 12px;
        display: flex;
        justify-content: center;
        -webkit-line-clamp: 2;
    }
    .button-box {
        z-index: 2000;
        position: absolute;
        display: none;
        width: 100%;
        top: 300px;
    }
} */
/* @media (max-width: 300px) {
    .theme-slide {
        width: 90px;
        height: 90px;
    }
} */
/* max 450 */
