@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'NanumBarunGothic';

    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
/* @media (max-width: 768px) {
    body {
        overflow: scroll;
    }
    header {
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
        text-align: center;
    }
    .logo {
        width: 100%;
    }
    .nav {
        width: 100%;
        justify-content: space-evenly;
    }
    main {
        top: 100px;
        flex-direction: column;
        align-items: center;
    }
    .left-section {
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 0;
    }
    .mainleft-wrap {
        width: 95%;
        height: 100%;
    }
    .main-textbox {
        z-index: 5;
    }
    #map {
        height: 100%;
    }
    .right-section {
        padding: 20px 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        z-index: 6;
    }
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    font-family: 'NanumBarunGothic';
}
body {
    background-color: #001d49;
    overflow: auto;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefeed;
    height: 60px;
    text-align: center;
    padding: 10px;
    min-width: 400px;
    z-index: 10;
    transition: all 0.3s;
}
.logo {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 30px;
    font-weight: bold;
}
.logo a {
    color: black;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.nav > * {
    padding: 10px;
}
.nav a {
    text-decoration: none;
    color: black;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 60px;
    width: 100vw;
}
.mainslide-container {
    display: flex;
    width: 100%;
}
.left-section {
    box-sizing: content-box;
    width: 45%;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 60px;
    position: relative;
    z-index: 8;
}
.mainleft-wrap {
    width: 95%;
    height: 100%;
    position: relative;
}
.main-textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-text {
    color: white;
    text-align: center;
    top: 40%;
    left: 100px;
    display: none;
}
.main-text.active {
    display: block;
}
.main-title {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    line-height: 28px;
    background: #000;
    border-radius: 15px 15px 15px 15px;
    font-weight: 300;
    color: white;
    bottom: 30px;
    position: relative;
    bottom: 15px;
    font-size: 20px;
}
.text-box {
    position: relative;
}
.text {
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
}
.page-move {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    color: white;
    position: absolute;
    left: 110px;
    top: 120px;
}
.right-section {
    width: 50%;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: scroll;
    top: 60px;
    z-index: 9;
    border-radius: 5%;
    box-shadow: 5px 5px black;
}
.main-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    display: none;
}

.main-slide.active {
    display: block;
}
.map-section {
    position: relative;
    top: 150px;
}
.map-container {
    width: 100%;
    height: 500px;
    background-color: #fefeed;
}
.map-text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}
h2 {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20;
}
.theme-text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.theme-container {
    background: #001d49;
    width: 100%;
    position: relative;
    top: 200px;
}
.theme-wrap {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.theme-slide-group {
    display: flex;
    width: 95%;
    overflow-x: auto;
}

.theme-slide {
    background: #001d49;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
}
.theme-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
}
.cardtext {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    line-height: 1.5;
}
#prev,
#next {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    /* 버튼 배경색을 변경합니다. 원하는 색으로 변경하실 수 있습니다. */
    background-color: #f8f9fa;
    /* 버튼을 원형으로 만듭니다. */
    border-radius: 50%;
    /* 버튼 내부의 여백을 설정합니다. */
    padding: 10px;
    /* 버튼의 경계선을 제거합니다. */
    border: none;
}
#prev {
    left: 48%;
}

#next {
    left: 52%;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
/* footer */
.bottom {
    top: 400px;
    width: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    height: auto;
    padding: 0;
    height: 65px;
    border-top: 42px solid #f0f0f0;
    background: #f0f0f0;
    overflow: hidden;
    padding-bottom: 102px;
    bottom: 0;
}
.bottom .sel_area {
    position: static;
    overflow: hidden;
    padding: 0 15px 6px;
}
.bottom .sel_area .sel_member {
    position: relative;
    background: none;
    border: 0;
}
.bottom .sel_area .sel_member select {
    background: #fff url(https://korean.visitkorea.or.kr/resources/images/main/ico_select5.png) 100% 50%/30px 8px
        no-repeat;
    padding: 0 0 0 15px;
    height: 35px;
    width: calc(100% - 65px);
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #bbb;
    color: #666;
    vertical-align: top;
}
/* 화살표 사라지기 */
select {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* 일반적인 스타일링을 위한 appearance 속성 */
    background-image: none; /* 배경 이미지 제거 */
    padding-right: 1em; /* 오른쪽 여백을 추가하여 텍스트와 겹치지 않게 함 */
    background-color: transparent; /* 배경색을 투명하게 설정 */
}
.bottom .sel_area .sel_member #relation2 {
    margin-bottom: 10px;
}
.sel_area .sel_member button {
    width: 50px;
    font-size: 14px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #777676;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
a:link {
    text-decoration: none;
}
@media (max-width: 768px) {
    body {
        overflow: scroll;
    }
    header {
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
        text-align: center;
    }
    .logo {
        width: 100%;
    }
    .nav {
        width: 100%;
        justify-content: space-evenly;
    }
    main {
        top: 100px;
        flex-direction: column;
        align-items: center;
    }
    .left-section {
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 0;
    }
    .mainleft-wrap {
        width: 95%;
        height: 100%;
    }
    .main-textbox {
        z-index: 5;
    }
    #map {
        height: 100%;
    }
    .right-section {
        padding: 20px 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        z-index: 6;
    }
    .mainslide-container {
        flex-direction: column;
    }
    .left-section,
    .right-section {
        width: 100%;
    }
    .mainleft-wrap,
    .main-textbox {
        width: 90%;
    }
    .main-text,
    .main-title {
        font-size: 16px;
    }
    .text {
        font-size: 14px;
    }
    .page-move {
        left: 30px;
        top: 70px;
    }
    .right-section {
        height: 300px;
    }
    .theme-container {
        top: 50px;
    }
    .theme-wrap {
        height: 200px;
    }
    .theme-slide {
        width: 150px;
        height: 150px;
    }
    .cardtext {
        font-size: 10px;
    }
    h2 {
        font-size: 20px;
    }
    .map-section {
        height: 200px;
    }
    .map-left p,
    .theme-text,
    .map-text {
        font-size: 20px;
    }
    .reset-map {
        width: 30px;
        height: 30px;
    }
    #map {
        height: 60%;
    }
    .bottom .sel_area .sel_member select {
        height: 20px;
        font-size: 10px;
    }
    .sel_area .sel_member button {
        width: 30px;
        height: 20px;
        font-size: 10px;
    }
}
