@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'NanumBarunGothic';
}
body {
    background-color: #001d49;
}

.contents {
    width: 100%;
    padding: 135px 91px 30px;
    margin: 0 auto;
    min-height: 90vh;
    min-width: 300px;

    /* position: relative; */
    /* overflow: hidden; */
}
.btn_refresh {
    overflow: hidden;
    position: absolute;
    right: 17px;
    top: 15px;
    width: 23px;
    height: 23px;
    background: url(https://korean.visitkorea.or.kr/resources/images/sub/btn_refresh_mtag.png) 0 0 / 100% 100% no-repeat;
    text-indent: -999px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.contents .hashtag_section {
    width: 100%;
    height: 140px;

    position: relative;
    display: flex; /* Flexbox 사용 선언 */
    justify-content: center; /* 가로축 가운데 정렬 */
    align-items: center; /* 세로축 가운데 정렬 */
}
.color_bgcolor {
    width: 100%;
    height: 140px;
    background-color: #fefeed;
    opacity: 0.86;
    position: absolute;
}
.color_bgcolor,
.btn_refresh {
    position: absolute;
}

.contents .hashtag_section .buttons {
    margin: 0 30px;
    padding: 12px 0;
    position: relative;
    z-index: 30;
    cursor: pointer;
}
.contents .hashtag_section .buttons button {
    padding: 5px 10px;
    height: auto;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 8px;
    letter-spacing: 1px;

    /* font-size: 1em; */
}
.content-wrap {
    margin-top: 15px;
    border-top: 2px solid #999;
    width: 100%;
    padding-left: 0;
    /* position: relative; */
    /* border-bottom: 2px solid #999; */
}

.content-wrap > li {
    padding: 20px 10px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    margin: 5px 0 5px;
    overflow: auto;
    cursor: pointer;
}

.content-wrap > li .content-img-section {
    float: left;
    position: relative;
    width: 140px;
    height: 94px;
}
.content-img-section img {
    width: 140px;
    height: 94px;
    vertical-align: middle;
}
.content-wrap > li .content-preview-section {
    padding-left: 178px !important;
    padding-right: 20px;
    color: rgb(244, 244, 234);
}
.content-wrap > li .content-preview-section .content-preview-header {
    display: flex;
    margin-top: -5px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
}

.content-wrap > li .content-preview-section .content-preview-address {
    display: flex;
    margin-top: 28px;
    /* padding-bottom : 5px; */
    font-size: 14px;
    color: rgb(212, 210, 210);
}
.content-wrap > li .content-preview-section .content-preview-tag {
    display: flex;
    margin-top: 14px;
    font-size: 14px;
    color: rgb(212, 210, 210);
}

button {
    border-radius: 10px;
    border: 1px solid gray;
}
.hashtag-btn-open-modal,
.hashtag-btn-close-modal {
    visibility: hidden;
}
.modal {
    display: none;
}
/*  */
/*  */
.page-numbering {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: center;
    padding-left: 6px;
}

.hide {
    display: none;
}
.hashtag.active {
    background-color: #50617d;

    color: aliceblue;
}
.all_btn_active {
    background-color: #50617d;
    color: aliceblue;
}

@media screen and (max-width: 990px) {
    div {
        box-sizing: border-box;
    }
    body {
        overflow: scroll;
    }

    .contents .hashtag_section {
        width: 100%;
        height: 350px;
        position: relative;
    }
    .color_bgcolor {
        width: 100%;
        height: 350px;
        background-color: #fefeed;
        opacity: 0.86;
        position: absolute;
    }

    .btn_refresh {
        position: absolute;
    }
    .contents .hashtag_section .buttons {
        margin: 0 30px;
        padding: 12px 0;
        position: relative;
        z-index: 30;
    }
    .contents .hashtag_section .buttons button {
        padding: 5px 10px;
        height: auto;
        border-radius: 20px;
        margin-right: 5px;
        margin-bottom: 8px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 768px) {
    div {
        box-sizing: border-box;
    }
    body {
        overflow: scroll;
    }
    body {
        overflow: scroll;
    }

    .content-img-section {
        width: 40%;
        height: 40%;
    }
}

/* 모달부분 */
@media screen and (max-width: 576px) {
    .hashtag_section {
        display: none !important;
    }
    .contents {
        padding: 117px 0 30px;
        line-height: 120%;
    }
    .hashtag-btn-open-modal,
    .hashtag-btn-close-modal,
    .modal {
        visibility: visible !important;
    }
    .modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 250px;
        /* max-height: 60%; */
        height: 450px;
        text-align: center;
        z-index: 99999;
        width: 200px;
        /* max-height: 70%; */
    }

    .modal_wrap {
        width: 250px;
        /* max-height: 60%; */
        height: 100%;
        text-align: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    }
    .modal .hashtag-btn-close-modal {
        width: 30px;
        height: 30px;
        font-size: 0;
        position: absolute;
        top: 14px;
        right: 10px;
        border-radius: 100%;
        background: #fff
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA9ElEQVQokW3RzSpFURjG8d/ZxZm4AMZ7JUMZOfIxk6mUG1ByHwbnFsicKEmMDIxkYColXo5roHyFbXDW1k5njdbzvP/19PSuVlmWU9jBU0SsGHBSSgdIWC+wgTF0UkqHA+B9zGIUGwU2cZfnnQzU8C7msnzEZquqKimlYZxhPA+P8YW64gMWI+KtVVVVndbGESb/tbrGckS8wt+DRo0e2ll+IEXEdz0v/sFbGGpYw9huMs1Ke1jI/hV+MJ31RUSsQqssyxH9f6jhiIj5HHKOiexfYq1AtwH3sNhosIT7fJ9Bt8ApnnGrv7r3mo6Izxxwgxec/AI/vVAviXw4ggAAAABJRU5ErkJggg==)
            no-repeat 50%;
    }
    .modal .modal-head .title {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        background-color: rgb(33, 144, 241);
        width: 100%;
        height: 56px;
        border-radius: 20px 20px 0 0;
        display: inline-block;
        padding-top: 21px;
    }
    .modal-body {
        padding: 30px 30px 0;
        min-height: 50px;
        height: calc(100% - 130px);
        overflow: auto;
        box-sizing: border-box;
    }
    .body-wrap {
        vertical-align: top;
        overflow: hidden;
    }
    .hashtag-btn {
        min-width: 130px;
        margin-right: 10px;
        display: inline-block;

        max-width: 290px;
        float: none;
        text-align: center;
        margin-bottom: 5px;
    }
    .hashtag-btn > * {
        margin-bottom: 5px;
        display: block;
        margin-bottom: 10px;
        min-width: 130px;
        transition: all 0.1s;
        box-sizing: border-box;
        width: 130px;
        line-height: 17px;
        word-break: break-all;
        min-height: 32px;
        padding: 6px 13px;
    }
    .modal-foot {
        padding: 20px 0;
        height: 70px;
        box-sizing: border-box;
    }
    .confirm {
        background-color: #5f8cdd !important;
        color: #fff !important;
    }
    .btn-foot {
        background-color: #949494;
        color: #fff;
        padding: 3px 13px;
        border-radius: 10px;
        vertical-align: middle;
        transition: 0.5s;
        cursor: pointer;
    }

    .hashtag-btn-open-modal {
        background: whitesmoke;

        position: relative;

        left: 10px;
        padding: 10px 15px;
        border-radius: 15px;

        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
        border: 3px solid aliceblue;
        color: #1e6b7b;
    }
    .hashtag-btn-open-modal:hover {
        background-color: rgb(185, 218, 247);
        color: #1e6b7b;
        letter-spacing: 2px;
        transform: scale(1.05);
        cursor: pointer;
    }
}
